.left-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-gray;

  &__nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: $spacing-md $spacing-lg;
    text-decoration: none;
    color: $color-black;
    outline: 0 none !important;

    &--active {
      background-color: $color-white;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        background-color: $color-red;
      }
    }
  }

  &__logo {
    width: 200px;
    margin: $spacing-lg 128px $spacing-lg 0;
    padding: $spacing-lg;
  }

  &__icon {
    width: 25px;
    margin-right: $spacing-lg;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-lg 0;

    background: linear-gradient(to top, $color-light-red, transparent);

    &--enabled {
      background: linear-gradient(to top, $color-light-green, transparent);
    }
  }

  &__label {
    margin-right: $spacing-lg;
  }
}