$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f2f5f6;
$color-dark-gray: #e6e6e6;
$color-blue: #003448;
$color-red: #cb343b;
$color-light-red: #cb343b80;
$color-green: #00c51a;
$color-light-green: #00c51a80;

$toggle-container-width: 50px;
$toggle-size: calc($toggle-container-width / 2);
$max-width: 1200px;